#body{
	margin-right:auto;
	margin-left:auto;
	width:100%;
	overflow: hidden;
	background-color:#6fa8dc;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border: solid thick;
}

h6{
	display:none;
}

#header{
	width:100%;
	height:20%;
}

#itemL{
	width:49%;
	height:30%;
	float:left;
	min-width:240px;
}

#itemR{
	width:49%;
	height:30%;
	float:right;
	min-width:240px;
}


#row{
	width:95%;
	margin-left:5%;
	overflow:hidden;
}

h1{
	
	padding-left:2%;
	color:white;
	font-size:xx-large;	
}

#hoiatus{
	padding-left:2%;
	color:#FF0000;
	font-weight:bold;
}

#textbox{
	margin-left:2%;
	margin-right:2%;
	padding-bottom:1%;
	background-color:#6fa8dc;
	font-size:medium;
	color:#FFFFFF;
	height:20%;
	width:95%;
}

#headerbig {
	width:100%;
	float:left;
	background-color: #2268a6;
	border-bottom:medium solid;
	border-color: black;
	margin-bottom:1%;
}

#headerleft{
	width:80%;
	float:left;
	color:white;
	font-weight:bold;
}

#headerright{
	margin-right:2%;
	width:10%;
	float:right;
	color:white;
	font-size:small;
	text-align:right;
}

.tabs{
	float:left;
	width:100%;
	font-size:large;
}

#map{
	float:left;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	min-width:240px;
	max-width:100%;
	
}

.img{
	float:left;
	margin-top:5px;	
	margin-right:5px;
	margin-bottom:10px;
	width:75px;
}

.img2{
	width:100%;
	float:left;
	
}

.img3{
	float:right;
	margin-left:auto;
	margin-right:auto;
}



#footer{
	width:99%;
	color:white;
	height: 20%;
	border-left: solid thick;
	border-right: solid thick;
	border-bottom: solid thick;
	border-left-color: black;
	border-right-color: black;
	border-bottom-color: black;
	background-color:#2268a6;
}

#table-wrapper {
	padding-left:2%;
	float:left;

	min-width:240px;
	max-width:100%;
	
	font-size:smaller;
	text-align:left;
	overflow:auto;
}

#table-scroll {
	min-height:150px;
	max-height:100%;
	overflow:auto;
	margin-top:20px;
}

#table-wrapper table {
	width:100%; 
}

#table-wrapper table * {
	background:white;
	color:black;
}

#table-wrapper table thead th .text {
	position:absolute;
	top:-20px;
	z-index:2;
	height:20px;
	width:35%;
	border:1px solid red;
}

#stat_map{
	
	width: 100%;
	float:left;
}

.stat_map {
	
	width:100%;
}

#stat_table-wrapper {
	margin-bottom:10px;
	width:100%;
	float:right;
	font-size:smaller;
	text-align:left;
}

#table-scroll {
	height:auto;
	overflow:auto;
	margin-top:20px;
}
#stat_table-wrapper table {
	width:100%;
}
#stat_table-wrapper table * {
	background:white;
	color:black;
}

#stat_table-wrapper table thead th .text {
	position:absolute;
	top:-20px;
	z-index:2;
	height:20px;
	width:35%;
	border:1px solid red;
}

#radiobuttons{
	color:white;
	overflow:hidden;
	text-align:left;
	height: 20%;
	overflow:hidden;
}

#textarea{
	width:100%;
	max-width:90%;
	height:150px;
	margin-left:25px;
}

#search-bg{
	background-color:#6fa8dc;
	padding-left:5%;
}

#search-box{
	max-width:100%;
}

#wrapper{
    width: 100%;
    overflow: hidden;
}

#choose{
	color:#FFFFFF;
	font-size:medium;
	font-weight:bolder;
	text-align:left;
	padding-bottom:1%;
}
#search{
	color:#FFFFFF;
	font-size:medium;
	font-weight:bolder;
	text-align:left;
	padding-left:5%;

}

#wrapper-new{
	margin-bottom:10px;
	width:95%;
  	font-size:smaller;
  	text-align:left;
}

#wrapper-new table {
  	width:100%;
}

#wrapper-new table * {
  	background:white;
  	color:black;
}

#searchbutton{
	padding-top:2%;
	padding-bottom:2%;
	text-align:center;
}
#addbutton{
	padding:2%;
	text-align:center;
}

#acc-scroll{
  height:400px;
  overflow:auto;  
  margin-top:20px;
}
#pic-text{
	float:right;
	padding:2%;
}

#votebutton{
	padding-top:10px;
	text-align:left;
	float:left;
	padding-right:2px;
}

.nimi{
	padding-top:2%;
	text-align:right;
}


* {
	margin:0;
	padding:0;
	cursor:auto;
}

#load{
	cursor:auto;
}

#ringkond_info{
	color:#FFFFFF;
	font-size:medium;
	font-weight:bolder;
	text-align:left;
	padding-bottom:1%;
}
#partei_info{
	color:#FFFFFF;
	font-size:medium;
	font-weight:bolder;
	text-align:left;
	padding-bottom:1%;
}


#ui-id-1{
	list-style-type: none;
	width:10%;
	background-color:white;
}